*{

box-sizing:border-box;
margin:0;
padding:0;
font-family:Poppins;

}


body{

background:#f4fbff;
color:#17324d;

}



nav{

height:80px;
background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

box-shadow:0 5px 20px #ddd;

}



.logo{

font-size:26px;
font-weight:700;
color:#008c8c;

}



button{

background:#008c8c;

border:none;

padding:13px 25px;

border-radius:30px;

color:white;

cursor:pointer;

margin:10px;

transition:.3s;

}



button:hover{

transform:translateY(-4px);

}



.dark{

background:#064b6e;

}



.hero{

min-height:70vh;

display:flex;

justify-content:space-around;

align-items:center;

padding:50px;

background:linear-gradient(120deg,#eaffff,#fff);

}



h1{

font-size:55px;

color:#064b6e;

}



.circle{

height:280px;

width:280px;

border-radius:50%;

background:#008c8c;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:25px;

animation:float 3s infinite;

}




.form-box{

display:none;

margin:40px auto;

width:400px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #ccc;

animation:show .5s;

}



input{

width:100%;

padding:15px;

margin:10px;

border-radius:10px;

border:1px solid #ddd;

}



.search,.dashboard{

padding:50px 8%;

text-align:center;

}



#results{

display:flex;

gap:20px;

justify-content:center;

margin-top:30px;

}



.card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 20px #ddd;

width:250px;

}



footer{

background:#064b6e;

color:white;

padding:30px;

text-align:center;

}




@keyframes float{

50%{

transform:translateY(-20px);

}

}



@keyframes show{

from{

opacity:0;

transform:scale(.8);

}

to{

opacity:1;

}

}
